/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f8f9f8;
    background-color: #a9b388;
}

/* header & logo*/

h1,
h2 {
    font-family: 'Playfair', serif;
    font-weight: 300;
    color: #f8f9f8;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
    letter-spacing: 2px;
}

#head-style {
    width: 100%;
    height: 75px;
    background-color: #5f6f52;
}

/* Navigation bar */

#menu {
    font-family: 'Playfair', serif;
    letter-spacing: 2px;
    padding-top: 5px;
    font-size: 120%;
}

#menu,
li {
    float: right;
    margin-right: 25px;
    list-style-type: none;
}

#menu,
#logo {
    line-height: 25px;
}

#menu a {
    text-decoration: none;
    color: #f8f9f8;
}

#menu a:hover {
    color: #e8b634;
    border-bottom: 1px solid #e8b634;
}

.active {
    border-bottom: 1px solid #f8f9f8;
}

/* Hero Image and text */

#image-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('/assets/images/mediterranean-cuisine-2378758_1920.webp') no-repeat center center;
    background-color: #783d19;
}

#image-text,
#image-text h2 {
    color: #f8f9f8;

}

#image-text {
    font-family: 'Playfair', serif;
    font-size: 140%;
    letter-spacing: 2px;
    text-align: center;

    width: 600px;
    height: 200px;

    padding: 20px;

    background-color: rgba(95, 111, 82, 0.8);

    bottom: 200px;
    left: 150px;
    position: absolute;
}

/* About us section */

#about-us {
    font-family: 'Roboto', sans-serif;
    color: #f8f9f8;
    letter-spacing: 2px;
    width: 100%;
    height: 900px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #5f6f52;
}

#about-us h2 {
    font-size: 250%;
    text-align: center;
}

#about-left {
    float: left;
    margin-left: 5%;
    width: 40%;
}

#about-left h3 {
    font-size: 150%;
    text-align: center;
    border-bottom: 1px solid #f8f9f8;
}

#about-left p {
    font-size: 120%;
    text-align: center;
}

#about-left img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9);
}

#about-right {
    float: right;
    margin-right: 5%;
    width: 40%;
}

#about-right h3 {
    font-size: 150%;
    text-align: center;
    border-bottom: 1px solid #f8f9f8;
}

#about-right p {
    font-size: 120%;
    text-align: center;
}

#about-right img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9);
}

/* Meetups, live chats and online classes */

#meet {
    background-image: url('/assets/images/berries-2277_1920.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

#meet div {
    color: #f8f9f8;
    background-color: rgba(95, 111, 82, 0.5);
    width: 20%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid #f8f9f8;
    box-sizing: border-box;
}

#meet>h2 {
    font-family: 'Playfair', serif;
    font-size: 200%;
    text-align: center;
}

#meet a {
    color: #e8b634;
    text-decoration: 1px solid border #e8b634;
}

/* Footer and links */

#links ul {
-moz-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

#links ul > li {
-moz-transform: rotate(-180deg);
-webkit-transform: rotate(-180deg);
transform: rotate(-180deg);
display:inline-block;
}