/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #f8f9f8;
    background-color: #a9b388;
}

/* header & logo*/

h1,
h2 {
    font-family: 'Playfair', serif;
    font-weight: 300;
    color: #f8f9f8;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
    letter-spacing: 2px;
}

#head-style {
    width: 100%;
    height: 75px;
    background-color: #5f6f52;
}

/* Navigation bar */

#menu {
    font-family: 'Playfair', serif;
    letter-spacing: 2px;
    padding-top: 5px;
    font-size: 120%;
}

#menu li {
    float: right;
    margin-right: 25px;
    list-style-type: none;
}

#menu,
#logo {
    line-height: 25px;
}

#menu a {
    text-decoration: none;
    color: #f8f9f8;
}

#menu a:hover {
    color: #c9b6a1;
    border-bottom: 1px solid #c9b6a1;
}

.active {
    border-bottom: 1px solid #f8f9f8;
}

/* Hero Image and text */

#image-outer {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('/assets/images/mediterranean-cuisine-2378758_1920.webp') no-repeat center center;
    background-color: #783d19;
}

#image-text h2 {
    color: #f8f9f8;
    font-size: 40px;
}

#image-text {
    color: #f8f9f8;
    font-size: 25px;
}

#image-text {
    font-family: 'Playfair', serif;
    letter-spacing: 2px;
    text-align: center;

    width: 600px;
    height: 200px;

    padding: 20px;

    background-color: rgba(95, 111, 82, 0.8);

    bottom: 200px;
    left: 150px;
    position: absolute;
}

/* About us section */

#about-us {
    font-family: 'Roboto', sans-serif;
    color: #f8f9f8;
    letter-spacing: 2px;
    width: 100%;
    height: 1000px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #5f6f52;
}

#about-us h2 {
    font-size: 40px;
    text-align: center;
}

#about-left {
    float: left;
    margin-left: 5%;
    width: 40%;
}

#about-left h3 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #f8f9f8;
}

#about-left p {
    font-size: 20px;
    text-align: center;
}

#about-left img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9);
}

#about-right {
    float: right;
    margin-right: 5%;
    width: 40%;
}

#about-right h3 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #f8f9f8;
}

#about-right p {
    font-size: 20px;
    text-align: center;
}

#about-right img {
    width: 90%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9);
}

#about-left i:hover,
#about-right i:hover {
    font-size: 150%;
    color: #c9b6a1;
}

/* Meetups, live chats and online classes */

#meet {
    background-image: url('/assets/images/berries-2277_1920.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

#meet div {
    color: #f8f9f8;
    letter-spacing: 2px;
    background-color: rgba(95, 111, 82, 0.7);
    width: 20%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid #f8f9f8;
    box-sizing: border-box;
}

#meet>h2 {
    font-family: 'Playfair', serif;
    font-size: 200%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(95, 111, 82, 0.7);
    border: 2px solid #f8f9f8;
}

#meet a {
    color: #c9b6a1;
    text-decoration: 1px solid border #e8b634;
}

#meet h2 i:hover {
    font-size: 150%;
    color: #c9b6a1;
}

/* Footer and links */

footer {
    width: 100%;
    height: 120px;
    padding-top: 10px;
    background-color: #5f6f52;
    font-family: 'Playfair', serif;
    color: #f8f9f8;
    text-align: center;
}

footer ul {
    display: inline-flex;
    list-style-type: none;
}

#links-left {
    float: left;
    margin-left: 75px;
    display: flex;
}

footer li>a {
    font-size: 200%;
    margin-left: 75px;
    color: #f8f9f8;
    display: -webkit-inline-box;
}

footer li>a:hover {
    font-size: 250%;
    color: #c9b6a1;
}

#links-right {
    float: right;
    display: -webkit-inline-box;
    margin-right: 75px;
}

#links-right ul {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#links-right ul>li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

footer p {
    display: inline-block;
    padding-top: 25px;
    padding-right: 10%;
}

footer p a {
    text-decoration: none;
    color: #f8f9f8;
}

footer p a:hover {
    text-decoration: none;
    color: #c9b6a1;
}

/* Recipes section styles */

#recipes {
    font-family: 'Roboto', sans-serif;
    color: #f8f9f8;
    letter-spacing: 2px;
    width: 100%;
    height: auto;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #5f6f52;
}

#recipes h2 {
    font-family: 'Playfair', serif;
    font-size: 40px;
    text-align: center;
}

#recipes h3 {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #f8f9f8;
}

#recipes p {
    font-size: 25px;
    text-align: center;
}

#recipes img {
    overflow: hidden;
}

.recipe-normal {
    width: 100%;
    height: auto;
    background-color: #5f6f52;
    border-bottom: 5px solid #a9b388;
    padding-bottom: 75px;
}

.recipe-normal-left {
    float: left;
    margin-left: 5%;
    width: 40%;
    padding-bottom: 100px;
}

.recipe-normal-right {
    float: right;
    margin-right: 5%;
    width: 40%;
}

.recipe-inverted {
    width: 100%;
    height: auto;
    background-color: #5f6f52;
    padding-top: 75px;
}

.recipe-inverted-left {
    float: left;
    margin-left: 5%;
    width: 40%;
}

.recipe-inverted-right {
    float: right;
    margin-right: 5%;
    width: 40%;
    padding-bottom: 175px;
}

.recipe-last {
    width: 100%;
    height: auto;
    background-color: #5f6f52;
    padding-top: 75px;
    border-top: 5px solid #a9b388;
    border-bottom: 5px solid #a9b388;
}

.recipe-last-left {
    float: left;
    margin-left: 5%;
    width: 40%;
    padding-bottom: 100px;
}

.recipe-last-right {
    float: right;
    margin-right: 5%;
    width: 40%;
    padding-bottom: 50px;
}

#recipes ol {
    font-size: 20px;
}

.end {
    font-family: 'Playfair', serif;
    font-size: 40px;
    text-align: center;
    display: inline-block;
    padding-left: 44%;
}

.end i:hover {
    font-size: 125%;
    color: #c9b6a1;
}

/* Span style */

.notebook {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background-color: #f8f9f8;
    border-radius: 25px;
}

.notebook h3 i:hover {
    font-size: 150%;
    color: #c9b6a1;
}

.notebook h3 {
    color: #5f6f52;
    padding-top: 5px;
}

span {
    display: inline-block;
    width: 49%;
    height: 150px;
    color: #5f6f52;
    text-align: center;
}

span li {
    list-style-type: none;
    line-height: 30px;
    font-size: 17.5px;
}

strong {
    text-transform: uppercase;
    text-decoration: underline;
}

/* Recipe images */

#pizza {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
}

.circle-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 2px solid #f8f9f8;
    margin-left: auto;
    margin-right: auto;
}

#burger {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
}

#profiterole {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
}

/* Contact form */

/* Photo gallery background */

#form-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    position: relative;
}

#form-photos {
    width: 100%;
}